body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}

/* Parallax Effect */

.intro, .sectionParallax{
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.intro{
  background-image:url('../img/bg1.png');
  min-height: 100%;
}

/* Prima Sectiune "Working with desi.... */

.pText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  text-align:center;
  color: white;
  height: 100%;
}

.ellipse{
  flex: 2;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.workingWithUs{
  flex: 1;
  font-size: 54px;
  line-height: 1.3em;
  letter-spacing: 0.16em;
  font-weight: bold;
}

.descriptionText{
  flex: 2;
  line-height: 2em;
  text-transform: uppercase;
  letter-spacing: 0.06em;

}

.mouseShape{
  flex: 0.7;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

.sectionWhite, .sectionParallax{
  padding-top: 145px;;
  padding-bottom: 145px;
}

.borderBlack, .borderWhite{
  width: 60%;
  text-align: center;
  margin: auto;
}

.borderBlack{
  border: solid;
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  flex-direction: column;
  margin-top: -0.5em;
  font-size: 34px;
  font-weight:bold;
  padding-bottom: 65px;
  letter-spacing: 0.16em;
  background: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.paragraph{
  padding: 0 10% 5% 10%;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: 300;
}

.sectionParallax{
  background-image:url('../img/bg2.jpg');
  max-height: 488px;
}

.borderWhite{
  background:rgba(255,255,255, 0.4);
}

.sectionParallax .title{
  background: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.department{
  display: flex;
  flex-direction: column;
}

.subdepartment{
  display: flex;
  flex-direction: column;
  padding: 0px 0 40px 0;
}

.subdepartment .title{
  font-size: 20px;
  padding: 10px 0 30px 0;
  margin-top: 0;
  width: auto;
}

.ourWorks{
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.topWorkz, .joint, .kyiv, .lable, .market, .worktop{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 235px;

}

.topWorkz{
  background-image:url('../img/topWorkz.png');
  margin: 0 0.5vh 0.5vh 0;
}

.joint{
  background-image:url('../img/joint.png');
  margin: 0 0.5vh 0.5vh 0.5vh;
}

.market{
  background-image:url('../img/market.png');
  margin: 0 0 0.5vh 0.5vh;
}

.worktop{
  background-image:url('../img/worktop.png');
  margin: 0.5vh 0.5vh 0 0;
}

.lable{
  background-image:url('../img/lable.png');
  margin: 0.5vh 0.5vh 0 0.5vh;
}

.kyiv{
  background-image:url('../img/kyiv.png');
  margin: 0.5vh 0 0 0.5vh;
}

.subTitle{
  position: absolute;
  bottom: 1.3em;
  left: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: white;
  font-size: 34px;
}

@media (max-width: 1250px) {
  .ourWorks{
    grid-template-columns: 50% 50%;
  }

  .topWorkz{
    margin: 0 0.5vh 0.5vh 0;
  }

  .joint{
    margin: 0 0 0.5vh 0.5vh;
  }

  .market{
    margin: 0.5vh 0.5vh 0.5vh 0;
  }

  .worktop{
    margin: 0.5vh 0 0.5vh 0.5vh;
  }

  .lable{
    margin: 0.5vh 0.5vh 0 0;
  }

  .kyiv{
    margin: 0.5vh 0 0 0.5vh;
  }
}

@media (max-width: 700px) {
  body, html{
    font-size: 16px;
  }
  .workingWithUs{
    font-size: 25px;
  }
  .descriptionText{
    padding: 0 10% 0 10%;
    line-height: 1.3em;
  }
  .intro, .sectionParallax{
    background-attachment: scroll;
  }
  .paragraph{
    padding: 0 10% 10% 10%;
  }
  .title{
    letter-spacing: 0;
    font-size: 20px;
    width: auto;
    margin-top: -0.7em;
    padding-bottom: 20px;
  }
  .subdepartment .title{
    padding: 20px 20px 20px 20px;
  }
  .subTitle{
    bottom: 20px;
    left: 20px;
    letter-spacing: 0;
    font-size: 20px;
  }
}
